<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>校园霸凌举报系统</title>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/echart/echarts.js"></script>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body {
        background-size: cover;
        background:url("/images/lvye2.jpg")fixed center 0 no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
    }
    .footer {
        color: white;
        text-align: center;
    }

    div.footer a {
        color: white;
    }
    .navitems{
        margin-top: 22px;
        margin-left: 60px;
    }
    #random{
        margin-top: 8px;
    }
    #search{
        margin-top: 18px;
    }
    #event{
        opacity: 0.8;
        background-color: white;
        margin-top: 22px;
    }
    #id{
        margin-top: 20px;
        margin-bottom: 7px;
        opacity: 0.8;
        background-color: white;
    }
  #title{
      /*background-color: darkseagreen;*/
      color: #CDBA96;
      margin-right: 19px;
      font-family: 方正粗黑宋简体;
  }
    /*#nav{*/
    /*    opacity: 0.8;*/
    /*    background-color: #528B8B;*/
    /* }*/
</style>
<body>
<div id="app">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" id="nav">
            <div  class="navbar-header" >
                <h1>
                    <strong><p id="title">校园霸凌举报系统</p></strong>
                </h1>
            </div>

            <div class="navitems">
                <ul class="nav nav-tabs" >
                    <li >
                        <a href="#" style="color:white">首页</a>
                    </li>
                    <li>
                        <a href="#" style="color:white">举报页</a>
                    </li>
                    <li class="active" >
                        <a href="#" >案例</a>
                    </li>
                    <li class="dropdown pull-right">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="color:white">个人<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">个人中心</a>
                            </li>
                            <li>
                                <a href="#">信息通知</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">退出登录</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                </div>

                </div>
            </div>


            <div class="container">
                <a class="btn" href="#" style="color:white">
                    《《《返回上一页
                </a>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div id="chart" style="height:700px">ferfefw</div>
                </div>
<!--                <div class="col-md-12" id="id">-->
<!--                    <h3>-->
<!--                        <strong>初次举报事件编号：</strong><strong id="eventid"><%= eventid %></strong>-->
<!--                    </h3>-->
<!--                </div>-->
                <div class="col-md-9 column" id="event">
                    <div id="Aplist" class="panel-group">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#Aplist" href="#collapseOne">初次举报</a>
                            </h3>
                        </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <h3 id="userid"><%= userid %></h3>
                                    标题：{{title}}
                                    <h3>
                                        举报者的描述
                                    </h3>
                                    <p>
                                        {{detail}}
                                    </p>
                                        <div v-if="research===null">
                                        <a class="btn" :href="alterurl">点击编辑</a>
                                       </div>
                                </div>
                        </div>
                        </div>

<!--折叠收起实例-->
<!--                        <div class="panel panel-default">-->
<!--                            <div class="panel-heading">-->
<!--                                <h3 class="panel-title">-->
<!--                                    <a data-toggle="collapse" data-parent="#Aplist" href="#collapseTwo">初次举报的处理结果</a>-->
<!--                                </h3>-->
<!--                            </div>-->
<!--                            <div id="collapseTwo" class="panel-collapse collapse in">-->
<!--                                <div class="panel-body">-->
<!--                                    试一试-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->



                   <div v-if="research!=null">
                       <div class="panel panel-default">
                           <div class="panel-heading">
                               <h3 class="panel-title">
                                   <a data-toggle="collapse" data-parent="#Aplist" href="#collapseTwo">初次举报处理结果相关信息</a>
                               </h3>
                           </div>
                           <div id="collapseTwo" class="panel-collapse collapse in">
                               <div class="panel-body">

                                   <label>受理时间</label>{{research.pro_time}}  <label>结果提交时间</label>{{research.res_time}}
                                   <p>
                                       {{research.result}}
                                   </p>
                                   <div v-if="research.app_comment===null">
                                       <input id="Icomment"/>
                                       <button @click="initcomment()">提交对处理结果的意见</button>
                                   </div>
                                   <div v-else>
                                       对结果的意见是：{{research.app_comment}}
                                   </div>
                                   <h3>
                                       审核结果
                                   </h3>
                                   <p>
                                       Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                   </p>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>


                    <div v-for="(i,index) in follows">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#Aplist" :href="forIDs2(index)">第{{index+2}}次举报详情</a>
                                </h3>
                            </div>
                            <div :id="forIDs(index)" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    举报相关：
                                    标题：{{i.appeal.title}}
                                    细节：{{i.appeal.detail}}
                                    调查相关：
                                    调查结果：
                                    评论结果：
                                    审查：
                                    <div v-if="i.research===null">
                                        <a class="btn" :href="followAltURL(i.appeal.id)">点击编辑</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



<!--                    <div v-for="(i,index) in follows">-->
<!--                        第{{index+2}}次举报详情如下：-->
<!--                        <label>标题：</label>{{i.appeal.title}}-->
<!--                        <label>细节：</label>{{i.appeal.detail}}-->
<!--                        <div v-if="i.research!=null">-->
<!--                            调查之类的东西-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>


    <div id="reAp" style="background-color: rgba(234,234,214,0.8);border-radius: 10px;margin-top: 10px;margin-bottom: 10px">
            再次举报的部门<select @change="changede">
                <option disabled value="">请选择</option>
                <option  v-for="(i,index) in de_id" :value="i[1]">{{i[0]}}</option>
            </select>
            <div id="reappeal">
                再次举报的题目<input id="re_title" v-model="retitle"/>
                再次举报的细节信息<input id="re_input" v-model="redetail"/>
                <button class="btn" @click="Reappeal()">再次举报</button>
            </div>
    </div>



        <div class="footer container-fluid">
            <div id="footer_div1">
                <a href="http://rsgis.whu.edu.cn/">遥感信息工程学院 </a>|&nbsp;
                <a href="http://www.whu.edu.cn/">武汉大学 </a>|&nbsp;
                <a href="http://www.lib.whu.edu.cn/web/default.asp">武汉大学图书馆 </a>|&nbsp;
                <a href="http://my.whu.edu.cn">信息门户</a>
            </div>
            <div id="footer_div2">
                <p>中国 湖北 武汉市 珞喻路129号 武汉大学信息学部</p><br>
                <p>空间信息与数字技术</p>
                <p>© 2019 </p>
            </div>
        </div><!--页脚-->
</div>
</div>
<script>
    // var data2={
    //     "name":"第一次举报",
    //     "value":"32332312321",
    //     "children":
    //         [{
    //             "name":"第二次举报",
    //             "value":"3232",
    //             "children":[{
    //                 "name":"第三次举报"
    // }]
    //         }]
    // }

    function subtime(time)
    {
        return time.substring(0,4)+0+time.substring(5,7)+0+time.substring(8,10);
    }
    // subtime("2021-03-09 16:11:35");

    function initchart(data,n)
    {    //echarts

        var chartDom = document.getElementById('chart');
        var myChart = echarts.init(chartDom);
        var option;

        myChart.showLoading();
            // console.log(data);
            myChart.hideLoading();

            myChart.setOption(option = {
                tooltip: {
                    trigger: 'item',
                    triggerOn: 'mousemove',
                    position:"right",
                    formatter:function(params)
                    {
                        // console.log("values");
                        // console.log(params);
                        return "时间："+params.value;
                    }
                },
                series:[
                    {
                        type: 'tree',

                        data: [data],

                        left: '2%',
                        right: '2%',
                        top: '8%',
                        bottom: '20%',

                        symbol: 'emptyCircle',

                        orient: 'vertical',

                        expandAndCollapse: true,
                        initialTreeDepth:n,
                        symbolSize:7,

                        label: {
                            position: 'top',
                            rotate: 0,
                            verticalAlign: 'middle',
                            align: 'right',
                            fontSize: 15
                        },

                        leaves: {
                            label: {
                                position: 'bottom',
                                rotate: 0,
                                verticalAlign: 'middle',
                                align: 'right'
                            }
                        },

                        animationDurationUpdate: 750
                    }
                ]
            });

        option && myChart.setOption(option);

    }

    console.log("测试用户id！！")
    console.log('<%= userid %>');
    var userid='<%= userid %>';
    var eventid='<%= eventid %>';
    var url="http://47.98.164.4:8080/server/appeal/getbyid";
    let url2="http://47.98.164.4:8080/server/route/get_complete";
    $.ajax({
        type: 'get', /*  请求方式  GET  、 POST 、 PUT 等.. */
        url: url2, /*  后台的接口(findApi)  使用相对路径即可 */
        dateType: 'json', /*  期望服务器返回的数据类型格式 */
        data:{
            user_id:userid,
            al_id:eventid,
        },
        success: function(result) { // 请求后台 应答成功返回来的数据
            console.log(result);
            // console.log("类型！！")
            // console.log(typeof (result.data.current.appeal.al_time));
            let initAp=result.data.current.appeal;
            let initRes=result.data.current.research;
            let follows=result.data.follows;
            var data={
                "name":"第一次举报",
                "value":result.data.current.appeal.al_time,
                "label":result.data.current.appeal.al_time,
                "children":[]
            }
            var n=0;
            var lastnode=data.children;
            if(result.data.current.research!=null){
                let node={
                    "name":"受理",
                    "value":result.data.current.research.pro_time,
                    "children": []
                }
                lastnode.push(node);
                n++;
                console.log(lastnode);
                lastnode=node.children;
                console.log(lastnode);
                if(result.data.current.research.res_time!=null)
                {
                    let node={
                        "name":"第一次得到处理",
                        "value":result.data.current.research.res_time,
                        "children": []
                    }
                    console.log(lastnode);
                    lastnode.push(node);
                    n++;
                    lastnode=node.children;
                }
            }

                for(let i=0;i<follows.length;i++) {
                    let m = i + 2;
                    let node = {
                        "name": "第" + m + "次举报",
                        "value": result.data.follows[i].appeal.al_time,
                        "children": []
                    }
                    lastnode.push(node);
                    n++;
                    lastnode=node.children;
                    if (result.data.follows[i].research != null) {
                        let node = {
                            "name": "受理",
                            "value": result.data.follows[i].research.pro_time,
                            "children": []
                        }
                        lastnode.push(node);
                        n++;
                        lastnode=node.children;
                        if (result.data.follows[i].research.res_time != null) {
                            let node = {
                                "name": "第" + m + "次处理结果",
                                "value": result.data.follows[i].research.res_time,
                                "children": []
                            }
                            lastnode.push(node);
                            n++;
                            lastnode=node.children;
                        }
                    }
                }

            // document.getElementById("content").innerText=result.data;
            const app = new Vue({
                el: '#app',
                data: {
                    alterurl:"/alter/"+initAp.id,
                    title:initAp.title,
                    address:initAp.address,
                    time:initAp.al_time,
                    detail:initAp.detail,
                    pos:initAp.pos,
                    research:initRes,
                    redetail:"",
                    retitle:"",
                    de_id:[
                        ["教育部","1615015018511100"],
                        ["湖北省教育厅","1615123042791010"],
                        ["武汉市教育局","1615123157287011"],
                        ["洪山区教育分局","1615123277120012"],
                        ["武汉大学","1615123447780013"]
                    ],
                    deid:"",
                    follows:follows,
                    followIDs:['second','third','fourth','fifth','sixth']
                },
                methods:{
                    followAltURL(id)
                    {
                      return "/alter/"+id;
                    },
                    showalter()
                    {
                        this.displayalter=true;
                    },
                    initcomment(){
                      let comment=document.getElementById("Icomment").value;
                      console.log(comment);
                      let urll="http://47.98.164.4:8080/server/research/submit_comment";
                        $.ajax({
                            type: 'get', /*  请求方式  GET  、 POST 、 PUT 等.. */
                            url: urll, /*  后台的接口(findApi)  使用相对路径即可 */
                            dateType: 'json', /*  期望服务器返回的数据类型格式 */
                            data:{
                                user_id:userid,
                                rh_id:initRes.id,
                                app_comment:comment
                            },
                            success: function(result) { // 请求后台 应答成功返回来的数据
                                console.log(result);
                                alert("提交成功！");
                            },
                            error: function(xhr, status, error) { // 请求失败运行的函数
                                console.log(error);
                            }
                        })
                    },
                    forIDs(index)
                    {
                      return this.followIDs[index];
                    },
                    forIDs2(index)
                    {
                        return "#"+this.followIDs[index];
                    },
                    followcomment(){

                    },
                    // initChange()
                    // {
                    //     if(this.research===null)
                    //     {
                    //         alert("案件已受理！不能再修改信息");
                    //     }
                    //     let urll="http://47.98.164.4:8080/server/appeal/updatebyid";
                    //     $.ajax({
                    //         type: 'get', /*  请求方式  GET  、 POST 、 PUT 等.. */
                    //         url: urll, /*  后台的接口(findApi)  使用相对路径即可 */
                    //         dateType: 'json', /*  期望服务器返回的数据类型格式 */
                    //         data:{
                    //             user_id:userid,
                    //             al_id:eventid,
                    //             al_title:null,
                    //             al_detail:null,
                    //         },
                    //         success: function(result) { // 请求后台 应答成功返回来的数据
                    //             console.log(result);
                    //             alert("提交成功！");
                    //         },
                    //         error: function(xhr, status, error) { // 请求失败运行的函数
                    //             console.log(error);
                    //         }
                    //     })
                    //
                    // },
                    followChange(){
                        let urll="http://47.98.164.4:8080/server/appeal/updatebyid";
                        if(this.research===null)
                        {
                            alert("案件已受理！不能再修改信息");
                        }
                        // let urll="http://47.98.164.4:8080/server/appeal/updatebyid";
                        $.ajax({
                            type: 'get', /*  请求方式  GET  、 POST 、 PUT 等.. */
                            url: urll, /*  后台的接口(findApi)  使用相对路径即可 */
                            dateType: 'json', /*  期望服务器返回的数据类型格式 */
                            data:{
                                user_id:userid,
                                al_id:eventid,
                                al_title:null,
                                al_detail:null,
                            },
                            success: function(result) { // 请求后台 应答成功返回来的数据
                                console.log(result);
                                alert("提交成功！");
                            },
                            error: function(xhr, status, error) { // 请求失败运行的函数
                                console.log(error);
                            }
                        })
                    },
                    changede(){
                        this.deid=this.selected;
                        console.log(this.selected);
                    },
                    toevent(id){
                        console.log(id);
                        let urlid="/event/"+id;
                        window.open(urlid);
                    },
                    Reappeal(){
                        console.log(this.redetail);
                        console.log(this.retitle)
                        $.ajax({
                            type: 'get', /*  请求方式  GET  、 POST 、 PUT 等.. */
                            url: 'http://47.98.164.4:8080/server/appeal/addone', /*  后台的接口(findApi)  使用相对路径即可 */
                            dateType: 'json', /*  期望服务器返回的数据类型格式 */
                            data:{
                                user_id:userid,
                                al_address:this.address,
                                al_pos:this.pos,
                                al_title:this.retitle,
                                al_detail:this.redetail,
                                handler:this.deid,
                                last_al:this.follows[this.follows.length-1].appeal.id
                            },
                            success: function(result) { // 请求后台 应答成功返回来的数据
                                console.log(result);
                            },
                            error: function(xhr, status, error) { // 请求失败运行的函数
                                console.log(error);
                            }
                        })
                    },
                }
            })
            // console.log(data);
            initchart(data);
        },
        error: function(xhr, status, error) { // 请求失败运行的函数
            console.log(error);
        }
            })



    // $.ajax({
    //     type: 'get', /*  请求方式  GET  、 POST 、 PUT 等.. */
    //     url: url2, /*  后台的接口(findApi)  使用相对路径即可 */
    //     dateType: 'json', /*  期望服务器返回的数据类型格式 */
    //     data:{
    //         user_id:userid,
    //         al_id:eventid,
    //     },
    //     success: function(result) {// 请求后台 应答成功返回来的数据
    //         console.log("完整时间线")
    //         console.log(result);
    //     },
    //     error: function(xhr, status, error) { // 请求失败运行的函数
    //         console.log(error);
    //     }})

</script>
</body>
</html>